body{
  margin:0;
  font-family:system-ui,-apple-system,BlinkMacSystemFont,sans-serif;
  background:#020617 url(bg.jpg);
  background-size:120%;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
}

.card{
  width:85%;
  max-width:380px;
  background:rgba(2,6,23,.65);
  border:1px solid #1e293b;
  border-radius:16px;
  padding:22px;
  box-shadow:0 0 40px rgba(0,0,0,.6);
}

h2{text-align:center;margin:0 0 10px}
.desc{
  font-size:13px;
  color:#cbd5f5;
  text-align:center;
  margin-bottom:15px;
}

.input{
  width:92%;
  padding:12px;
  margin-bottom:12px;
  background:#fff;
  border:1px solid #1e293b;
  border-radius:10px;
  color:#020617;
  font-size:14px;
}

.input:focus{
  outline:none;
  border:2px solid #fff600;
}

.warn{
  font-size:12px;
  color:#fde047;
  margin-bottom:10px;
  margin-top: 30px;
}

button{
  width:100%;
  padding:13px;
  background:#fff600;
  border:none;
  border-radius:12px;
  font-weight:700;
  cursor:pointer;
}

button:active{
  transform:scale(.98);
}

.footer{
  margin-top:12px;
  font-size:12px;
  color:#94a3b8;
  text-align:center;
}

.spinner{
  width:40px;
  height:40px;
  border:4px solid #1e293b;
  border-top:4px solid #fff600;
  border-radius:50%;
  animation:spin 1s linear infinite;
  margin:auto;
}
@keyframes spin{to{transform:rotate(360deg)}}

.success{font-size:38px;color:#22c55e}
.error{font-size:38px;color:#ef4444}