body{
  margin:0;
  font-family:system-ui,sans-serif;
  background:#020617;
  color:#fff;
}

/* HEADER */
header{
  position:fixed;
  top:0;left:0;right:0;
  height:54px;
  background:#020617;
  border-bottom:1px solid #1e293b;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 16px;
  z-index:10;
}
header b{font-size:18px}
header span{font-size:20px}

/* CONTENT */
.content{
  padding:70px 16px 80px;
}
.section{display:none}
.section.active{display:block}

/* CARD */
.card{
  background:#020617;
  border:1px solid #1e293b;
  border-radius:14px;
  padding:14px;
  margin-bottom:14px;
}

.card1{
  background:#020617 url(https://i.ibb.co.com/nMxBT9tX/c071c2581fd9fbfcaef577d1cbe8d642.jpg);
  background-size:100%;
  border:1px solid #1e293b;
  border-radius:14px;
  padding:14px;
  margin-bottom:14px;
}

/* BOTTOM NAV */
nav{
  position:fixed;
  bottom:0;left:0;right:0;
  height:65px;
  background:#020617;
  border-top:1px solid #1e293b;

  display:flex;
  justify-content:space-around; /* 🔥 kunci utama */
  align-items:center;

  padding:0 10px;
}

/* semua menu */
nav div{
  flex:none; /* ❌ HAPUS flex:1 */
  width:60px; /* biar konsisten */
  text-align:center;
  font-size:12px;
  cursor:pointer;
  color:#94a3b8;
}
nav .active{
  color:#fff600
}

nav i{
  font-size:15px;
}

/* PIN BOX */
.pin-box{
  display:flex;
  gap:8px;
}
.pin-box input{
  width:35px;
  height:41px;
  font-size:18px;
  text-align:center;
  border-radius:10px;
  border:2px solid #1e293b;
}

/* PROFILE */
.avatar{
  width:70px;
  height:70px;
  border-radius:50%;
  background:linear-gradient(135deg,#fff600,#facc15);
  color:#020617;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:26px;
  font-weight:800;
  margin:0 auto 12px;
  box-shadow:0 0 20px rgba(255,246,0,.6);
  border: none;
}

.profile-line{
  border-bottom:1px dashed #1e293b;
  margin:6px 0;
}

button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:12px;
  font-weight:700;
  background:#fff600;
}

.home-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-top:0;
  margin-bottom:6px;
}

.home-subtitle {
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 20px;
}

.guide-list {
  padding-left: 18px;
  font-size: 13px;
  line-height: 1.6;
}

.news-box {
  background: #121212;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 16px;
}

.news-image {
  width: 100%;
  height: 170px;
  object-fit: cover;
  display: block;
}

.news-body {
  padding: 12px;
}

.news-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
}

.news-text {
  font-size: 13px;
  color: #bbb;
  line-height: 1.5;
}

.news-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  color: #00b7ff;
  text-decoration: none;
}

.spin-card {
  text-align: center;
}

.wheel-wrapper {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 10px auto 20px;
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
  #ff5252 0deg 72deg,     /* ZONK */
  #ff9800 72deg 144deg,  /* 1 poin */
  #4caf50 144deg 216deg, /* 3 poin */
  #03a9f4 216deg 288deg, /* 10 poin */
  #9c27b0 288deg 360deg  /* 100 poin */
);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 4s cubic-bezier(.17,.67,.12,.99);
}

.wheel-center {
  width: 60px;
  height: 60px;
  background: #020617;
  border-radius: 50%;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wheel-pointer {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #fff600;
  z-index: 2;
}

.spin-note {
  font-size: 12px;
  color: #fff;
  background: rgba(0,0,0,.75);
  margin-top: 6px;
}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.75);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.popup-box {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 22px;
  border-radius: 16px;
  text-align: center;
  width: 70%;
  max-width: 320px;
}

.popup-box h2 {
  margin: 0 0 8px;
  font-size: 20px;
  color: #fff600;
}

.popup-box p {
  font-size: 14px;
  color: #cbd5f5;
}

.wheel {
  position: relative;
}

.wheel-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  font-size: 8px;
  font-weight: 700;
}

.t1 { transform: rotate(0deg) translate(60px); }
.t2 { transform: rotate(72deg) translate(60px); }
.t3 { transform: rotate(144deg) translate(60px); }
.t4 { transform: rotate(216deg) translate(60px); }
.t5 { transform: rotate(288deg) translate(60px); }

nav div.lock {
  opacity: 0.4;
  pointer-events: none;
}

nav div.lock {
  position: relative;
  opacity: 0.45;
  pointer-events: none;
}

.lock-icon {
  position: absolute;
  top: 6px;
  right: 14px;
  font-size: 12px;
  color: #fff600; /* slate-500 */
}

/* === 3D SPIN WHEEL === */

.wheel-wrapper {
  perspective: 900px;
}

.wheel-outer {
  position: relative;
  width: 220px;
  height: 220px;
  margin: auto;
  border-radius: 50%;
  background: radial-gradient(circle at top,
    #1e293b,
    #020617 70%
  );
  box-shadow:
    0 18px 30px rgba(0,0,0,.6),
    inset 0 4px 8px rgba(255,255,255,.08);
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotateX(6deg);
  box-shadow:
    inset 0 6px 10px rgba(255,255,255,.12),
    inset 0 -10px 16px rgba(0,0,0,.6);
}

/* efek kilap */
.wheel-gloss {
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  background: radial-gradient(
    circle at top left,
    rgba(255,255,255,.25),
    transparent 55%
  );
  pointer-events: none;
  z-index: 2;
}

/* teks ikut melayang */
.wheel-text {
  text-shadow:
    0 1px 2px rgba(0,0,0,.8);
}

/* center button TIMBUL */
.wheel-center {
  background: radial-gradient(circle at top,
    #fff700,
    #eab308
  );
  color: #020617;
  box-shadow:
    0 6px 12px rgba(0,0,0,.6),
    inset 0 2px 4px rgba(255,255,255,.5);
  transform: translateZ(18px);
}

/* pointer lebih tajam */
.wheel-pointer {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #fff600;
  z-index: 5;
}

.wheel-text i {
  font-size: 13px;
  margin-right: 2px;
  filter: drop-shadow(0 1px 2px rgba(0,0,0,.7));
}

.spin-ring {
  position: absolute;
  inset: -22px;
  border-radius: 50%;
  pointer-events: none;
}

.ring-slow {
  background: conic-gradient(
    #ff5252,
    #ff9800,
    #ffee58,
    #4caf50,
    #03a9f4,
    #9c27b0,
    #ff5252
  );
  filter: blur(10px);
  opacity: .7;
  animation: ringSlow 14s linear infinite;
}

.ring-slow::after {
  content: "";
  position: absolute;
  inset: 22px;
  background: #020617;
  border-radius: 50%;
}

.ring-fast {
  background: conic-gradient(
    #ffffff,
    #fff176,
    #ffd54f,
    #ffffff
  );
  filter: blur(14px);
  opacity: 0;
  animation: ringFast 1s linear infinite;
}

.ring-fast::after {
  content: "";
  position: absolute;
  inset: 26px;
  background: #020617;
  border-radius: 50%;
}

@keyframes ringSlow {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes ringFast {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes ringFlash {
  0%   { opacity: .4; }
  50%  { opacity: 1; }
  100% { opacity: .4; }
}

.ring-fast.win {
  opacity: 1;
  animation:
    ringFast .6s linear infinite,
    ringFlash .25s ease-in-out infinite;
  filter: blur(16px) brightness(1.6);
}

.btn-tukar {
  width: 50%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #fff600, #facc15);
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.btn-tukar:hover {
  transform: scale(0.97);
  opacity: 0.9;
}

.nav-center{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  top:-30px; /* 🔥 naikkan sedikit */

  width:62px;
  height:62px;
  border-radius:50%;

  background:linear-gradient(135deg,#7c3aed,#4f46e5);
  display:flex;
  align-items:center;
  justify-content:center;

  color:white;
  font-size:26px;

  box-shadow:
    0 10px 25px rgba(124,58,237,0.6),
    0 0 0 6px #020617;

  z-index:20;
}

.nav-center i{
  transform:translateY(-2px);
}

.nav-center:active{
  transform:translateX(-50%) scale(0.92);
}

.redeem-header{
  text-align:center;
  margin-top:10px;
}

.redeem-icon{
  width:70px;
  height:70px;
  margin:0 auto 10px;
  border-radius:50%;
  background:linear-gradient(135deg,#f59e0b,#facc15); /* ⬅️ INI PENYEBAB */
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:28px;
  color:#000;
  box-shadow:0 6px 20px rgba(250,204,21,0.5);
}

.logo-icon{
  width:auto;
  height:auto;
  margin:0 auto 10px;

  background:none;      /* ⬅️ HAPUS BULAT */
  box-shadow:none;      /* ⬅️ HAPUS GLOW */
  border-radius:0;      /* ⬅️ HAPUS LINGKARAN */

  display:flex;
  align-items:center;
  justify-content:center;
}

.redeem-header h2{
  margin:5px 0;
}

.redeem-header p{
  font-size:13px;
  color:#94a3b8;
}

.redeem-card{
  background:#0f172a;
  margin:20px;
  padding:18px;
  border-radius:16px;
  border:1px solid #1e293b;
}

.redeem-card input{
  width:91%;
  padding:12px;
  border-radius:10px;
  border:none;
  outline:none;
  background:#020617;
  color:white;
  font-size:14px;
}

.redeem-card button{
  width:100%;
  margin-top:12px;
  padding:12px;
  border:none;
  border-radius:10px;
  background:linear-gradient(90deg,#f59e0b,#facc15);
  font-weight:700;
  color:black;
  cursor:pointer;
}

.redeem-card button:active{
  transform:scale(0.96);
}

.redeem-info{
  margin:0 20px;
  font-size:12px;
  color:#64748b;
  display:flex;
  gap:6px;
  align-items:center;
}

nav div:nth-child(3){
  margin-right:30px; /* kasih jarak sebelum tombol tengah */
}

nav div:nth-child(4){
  margin-left:30px; /* kasih jarak setelah tombol tengah */
}

.nav-center.active{
  transform:translateX(-50%) scale(1.1);
  box-shadow:
    0 0 20px rgba(124,58,237,0.9),
    0 0 0 6px #020617;
}

#redeemBtn.locked{
  opacity:0.45;
}

#redeemBtn span{
  position:absolute;
  top:6px;
  right:8px;
  font-size:11px;
  color:#fff600;
}

.input-group{
  display:flex;
  width:100%;
  margin-top:10px;
}

.input-group input{
  flex:1;
  padding:12px;
  border-radius:10px;
  border:none;
  background:#020617;
  color:white;
}

.input-group button{
  width:45px;
  margin-left:6px;
  border-radius:10px;
  border:none;
  background:#1e293b;
  color:white;
}

.quick-grid{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:10px;
  margin-top:10px;
}

.quick-grid button{
  padding:10px;
  border-radius:10px;
  border:none;
  background:#1e293b;
  color:white;
  font-weight:600;
}

.quick-grid button:active{
  transform:scale(0.95);
}

.input-wrap{
  display:flex;
  align-items:center;
  background:#020617;
  border-radius:10px;
  border:1px solid #1e293b;
  overflow:hidden;
  margin-top:10px;
}

.input-wrap input{
  flex:1;
  padding:12px;
  border-radius:10px;
  border:none;
  background:#020617;
  color:white;
}

.input-wrap button{
  width:45px;
  height:100%;
  border-radius:10px;
  border:none;
  background:#facc15;
  color:black;
  font-size:14px;
  margin-top: 0px;
}

.live-feed{
  position: relative;
  left: -16px;
  width: calc(100% + 32px); /* full layar */
  
  margin: 20px 0;
  height: 42px;
  overflow: hidden;
  background: #020617;
  border-top: 1px solid #1e293b;
  border-bottom: 1px solid #1e293b;
}

/* neon tetap */
.live-feed::before,
.live-feed::after{
  content:"";
  position:absolute;
  left:0;
  right:0;
  height:2px;
  background:linear-gradient(90deg,transparent,#fff600,transparent);
  animation: glowMove 3s linear infinite;
}

.live-feed::before{ top:0; }
.live-feed::after{ bottom:0; }

/* track */
.live-track{
  display: flex;
  width: max-content;
  animation: scrollLoop 60s linear infinite;
}

.live-track div{
  white-space: nowrap;
  font-size: 13px;
  line-height: 42px;
  padding-right: 50px; /* jarak antar text */
  color: #fff;
}

/* animasi infinite */
@keyframes scrollLoop{
  from{ transform: translateX(0); }
  to{ transform: translateX(-50%); }
}

.transfer-info{
  margin-top: 12px;
  font-size: 12px;
  color: #94a3b8;
}

.transfer-info h4{
  margin: 8px 0 6px;
  font-size: 13px;
  color: #fff;
}

.transfer-info ul{
  padding-left: 16px;
  line-height: 1.6;
}

.transfer-info li{
  margin-bottom: 3px;
}

#topNotif{
  position: fixed;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  background: #020617;
  border: 1px solid #1e293b;
  color: white;

  padding: 16px 20px;   /* ⬅️ lebih besar */
  border-radius: 14px;  /* ⬅️ lebih smooth */
  font-size: 15px;      /* ⬅️ lebih jelas */

  min-width: 280px;     /* ⬅️ lebih lebar */
  max-width: 90%;

  z-index: 999;
  transition: 0.4s;
  text-align: center;

  box-shadow: 0 10px 25px rgba(0,0,0,.6);
}

#topNotif.show{
  top: 20px;
}

.profile-card{
  background: linear-gradient(135deg,#020617,#0f172a);
  border: 1px solid #1e293b;
  border-radius: 18px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.6);
}

.point-card{
  background: linear-gradient(135deg,#0f172a,#020617);
  border-radius: 18px;
  padding: 20px;
  text-align:center;
  border:1px solid #334155;
  box-shadow: 0 10px 30px rgba(0,0,0,.5);
}

#pointBig{
  text-shadow: 0 0 15px rgba(255,246,0,.7);
}

.logout-btn{
  width:100%;
  padding:12px;
  border-radius:12px;
  font-weight:700;
  background: rgba(239,68,68,0.15);
  border:1px solid #ef4444;
  color:#ef4444;
}

.logout-btn:active{
  transform: scale(0.96);
}

.guide-list li{
  margin-bottom:8px;
}

/* ============================= */
/* PROFILE HEADER (MENU SAYA) */
/* ============================= */

.profile-top{
  padding:16px;
}

.profile-row{
  display:flex;
  align-items:center;
  gap:12px;
  position:relative;
}

.profile-info{
  flex:1;
  display:flex;
  flex-direction:column;
  gap:6px;
}

#username{
  font-size:16px;
  font-weight:700;
}

#userid{
  font-size:12px;
  color:#94a3b8;
  padding-top:4px;
  border-top:1px dashed #1e293b;
}

.status-badge{
  position:absolute;
  top:0;
  right:0;

  font-size:11px;
  padding:5px 10px;
  border-radius:20px;
  font-weight:600;
  color:white;
  background:#f59e0b20;
  border:1px solid #facc15;
  box-shadow:0 0 10px rgba(0,0,0,.4);
}

/* ============================= */
/* EMAIL + POIN */
/* ============================= */

.email-label{
  font-size:12px;
  color:#94a3b8;
}

.email-text{
  font-size:13px;
  margin-bottom:14px;

  background:#020617;
  border:1px solid #1e293b;
  padding:10px;
  border-radius:8px;

  color:#cbd5f5;
}

.point-title{
  font-size:12px;
  color:#94a3b8;
}

#pointBig{
  font-size:34px;
  font-weight:800;
  color:#fff600;
  margin:6px 0;
}

/* ============================= */
/* MENU LIST */
/* ============================= */

.menu-list{
  padding:0;
}

.menu-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:14px;
  border-bottom:1px solid #1e293b;
  cursor:pointer;
  font-size:14px;
}

.menu-item:last-child{
  border-bottom:none;
}

.menu-item i{
  font-size:12px;
  color:#94a3b8;
}

.menu-content{
  max-height:0;
  overflow:hidden;
  padding:0 14px;
  font-size:13px;
  color:#cbd5f5;
  border-bottom:1px solid #1e293b;
  transition:max-height .35s ease;
}

.menu-content div,
.menu-content li{
  padding:6px 0;
  border-bottom:1px dashed #1e293b;
}

.menu-content div:last-child,
.menu-content li:last-child{
  border-bottom:none;
}

.menu-content ul{
  padding-left:18px;
}

.menu-content li{
  margin-bottom:6px;
}

.menu-item i{
  transition:transform .3s;
}

.menu-item.active i{
  transform:rotate(180deg);
}

.wa-btn{
  display:inline-block;
  margin-top:10px;
  padding:10px 14px;
  border-radius:8px;

  background:#25D366;
  color:white;
  text-decoration:none;
  font-size:13px;
  font-weight:600;

  transition:.2s;
}

.wa-btn:hover{
  background:#1ebe5b;
}

.detail-row{
  display:grid;
  grid-template-columns:90px 10px 1fr;
  padding:8px 0;
  border-bottom:1px dashed #1e293b;
  font-size:13px;
}

.label{
  color:#94a3b8;
}

.colon{
  text-align:center;
}

.value{
  color:#e2e8f0;
}

.detail-row:last-child{
  border-bottom:none;
}

.status-text{
  font-weight:600;
}

.status-verif{
  color:#22c55e;
}

.status-belum{
  color:#ef4444;
}

.profile-action{
  margin-left:auto;
  display:flex;
  align-items:center;
  gap:8px; /* ⬅️ jarak antar icon & verifikasi */
}

.login-btn{
  padding:6px 14px;
  border-radius:8px;

  background:#3b82f6;
  color:white;

  font-size:12px;
  font-weight:600;

  text-decoration:none;
}

.login-btn:hover{
  background:#2563eb;
}

.popup-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background:rgba(0,0,0,0.6);

  display:flex;
  align-items:center;
  justify-content:center;

  z-index:9999;
}

.popup-box{
  background:#020617;
  padding:20px;
  border-radius:12px;
  text-align:center;
  width:260px;
}

.popup-box p{
  font-size:14px;
  margin-bottom:16px;
}

.popup-box button{
  border:none;
  padding:8px 18px;
  border-radius:8px;
  cursor:pointer;
}

.menu-left{
  display:flex;
  align-items:center;
  gap:8px;
}

.menu-left i{
  width:16px;
  text-align:center;
  color:#94a3b8;
}

/* SPLIT CARD POIN */

.point-card{
  padding:0;
  overflow:hidden;
}

.point-email{
  background:#020617;
  border-bottom:1px solid #1e293b;
  padding:14px;
}

.point-body{
  padding:16px;
  text-align:center;
}

.point-title{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:6px;

  font-size:12px;
  color:#94a3b8;
  margin-bottom:4px;
}

.point-title i{
  color:#facc15;
  font-size:14px;
}

#pointBig{
  font-size:36px;
  font-weight:800;
  color:#fff600;
  margin-bottom:12px;
}

.avatar-wrap{
  position:relative;
  width:42px;
  height:42px;
}

.user-badge{
  position:absolute;

  right:-4px;
  bottom:-4px;

  width:18px;
  height:18px;

  background:#facc15;
  border-radius:50%;

  display:none;
  align-items:center;
  justify-content:center;

  font-size:10px;
  color:#020617;

  box-shadow:0 0 4px rgba(0,0,0,0.4);
}

.sidebar-desktop{
  display: none;
}

/* ========================= */
/* LAYOUT DESKTOP */
/* ========================= */
@media (min-width: 1024px){

/* HEADER FULL LEBAR */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 97%;
  z-index: 1000;
}

  .layout-desktop{
    display: flex;
  }

  /* SIDEBAR */
  .sidebar-desktop{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 53px;
    left: 0;

    background: #0b1220;
    border-right: 1px solid #1e293b;

    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

  /* MENU ITEM */
  .sidebar-desktop .menu-item{
    color: #fff;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
  }

  /* ACTIVE */
  .sidebar-desktop .menu-item.active{
    color: #facc15;
  }

  /* CONTENT GESER */
  .content{
    margin-left: 240px; /* ⬅️ SESUAI LEBAR SIDEBAR */
    padding: 20px;
    width: 100%;
    margin-top: 60px;
  }

  /* NAV BAWAH HILANG */
  nav{
    display: none;
  }

}

/* ========================= */
/* GRID ISI MENU LAPTOP */
/* ========================= */
@media (min-width: 1024px){

  .section{
    display: none;
  }

  .section.active{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    max-width: 1000px;
  }

}

@media (min-width: 1024px){

  #saya.section.active{
    grid-template-columns: 1.3fr 0.7fr;
  }

}

@media (min-width: 1024px){

  .card,
  .card1,
  .redeem-card{
    padding: 16px;
  }

  h1{
    font-size: 22px;
  }

  p{
    font-size: 13px;
  }

}

@media (min-width: 1024px){

  #redeem .live-feed{
    width: 100%;
    max-width: 400px;
    overflow: hidden;
  }

  #redeem .live-track{
    width: 3000%;
  }

}

@media (min-width: 1024px){

  /* SIDEBAR BASE */
  .sidebar-desktop .menu-item{
    padding: 14px 16px;
    margin-bottom: 8px;
    border-radius: 10px;
    color: #cbd5f5;
    cursor: pointer;
    transition: all 0.25s ease;
  }

  /* HOVER EFFECT */
  .sidebar-desktop .menu-item:hover{
    background: rgba(255,255,255,0.05);
    transform: translateX(5px);
    color: #fff;
  }

  /* ACTIVE (KUNING) */
  .sidebar-desktop .menu-item.active{
    background: linear-gradient(135deg, #FFD700, #FFC300);
    color: #000;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(255, 215, 0, 0.3);
    transform: translateX(6px);
  }

  .sidebar-desktop .menu-item i {
    width: 18px;
    text-align: center;
    font-size: 14px;
  }

  .sidebar-desktop .menu-item.active i {
    color: #000;
  }

}

.sidebar-desktop .menu-item.active{
  animation: glow 1.5s infinite alternate;
}

@keyframes glow{
  from{
    box-shadow: 0 0 5px rgba(255,215,0,0.4);
  }
  to{
    box-shadow: 0 0 15px rgba(255,215,0,0.8);
  }
}

@media (min-width: 1024px){

  .section.active{
    position: relative;
  }

  .section.active::after{
    content: "";
    position: absolute;

    top: -25px;
    bottom: -25px;

    left: 50%;
    width: 1px;

    background: rgba(255,255,255,0.15);
  }

  #saya.section.active::after{
  left: 65%; /* sesuaikan */
  }

  #redeem.section.active::after{
  left: 50%; /* sesuaikan */
  }

}

@media (min-width: 1024px){

  .sidebar-desktop .lock{
    opacity: 0.6;
    position: relative;
  }

  .sidebar-desktop .lock-icon{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
  }
}

.feedback-box{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.feedback-box textarea{
  width:95%;
  height:90px;
  padding:10px;
  border-radius:10px;
  border:none;
  outline:none;
  background:#1e293b;
  color:white;
  font-size:13px;
  resize:none;
}

.feedback-box button{
  width:100%;
  padding:10px;
  border-radius:10px;
  border:none;
  background:#facc15;
  color:black;
  font-weight:600;
  cursor:pointer;
}

/* OVERLAY */
.notif-overlay{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  z-index:9999;
  justify-content:center;
  align-items:center;
}

/* LIST (SCROLL) */
.notif-list{
  max-height:260px;
  overflow-y:auto;
  margin-top:10px;
}

/* ITEM */
.notif-item{
  font-size:13px;
  padding:8px;
  border-bottom:1px solid #1e293b;
}

/* ACTION BUTTON AREA */
.notif-actions{
  display:flex;
  justify-content:flex-end;
  gap:6px;
  margin-top:auto;
}

/* BUTTON KECIL */
.btn-read,
.btn-close{
  font-size:11px;
  padding:4px 8px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

/* WARNA */
.btn-read{
  background:#16a34a;
  color:white;
}

.btn-close{
  background:#1e293b;
  color:#94a3b8;
}

/* OVERLAY */
.notif-overlay{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.6);
  z-index:9999;
  justify-content:center;
  align-items:center;
}

/* BOX */
.notif-box{
  width:70%;
  max-height:320px;
  background:#0f172a;
  border-radius:12px;
  padding:16px;

  display:flex;
  flex-direction:column;
}

/* LIST (SCROLL) */
.notif-list{
  max-height:260px;
  overflow-y:auto;
  margin-top:10px;
}

/* ITEM */
.notif-item{
  font-size:13px;
  padding:8px;
  border-bottom:1px solid #1e293b;
}

/* ACTION BUTTON AREA */
.notif-actions{
  display:flex;
  justify-content:flex-end;
  gap:6px;
  margin-top:auto;
}

/* BUTTON KECIL */
.btn-read,
.btn-close{
  font-size:11px;
  padding:4px 8px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

/* WARNA */
.btn-read{
  background:#16a34a;
  color:white;
}

.btn-close{
  background:#1e293b;
  color:#94a3b8;
}

.notiff,
.notiff-desk{
  position: static;
}

.notiff{
  position:absolute;

  top:-3px;
  right:80px; /* ⬅️ geser ke kiri dari verifikasi */

  width:28px;
  height:28px;

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:8px;
  background:#020617;
  border:1px solid #1e293b;

  cursor:pointer;
}

.logo-home{
  width:120px;
  height:auto;

  margin-top:5px;
  margin-bottom:8px; /* jarak ke tulisan */

  display:block;
}

#home .left{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;

  margin-top:-20px; /* jarak dari header */
}

/* ===== PREMIUM WHEEL STYLE ===== */

.premium-card{
text-align:center;
padding:14px;
background:#020617 url(https://i.ibb.co.com/nMxBT9tX/c071c2581fd9fbfcaef577d1cbe8d642.jpg);
background-size:100%;
}

.premium-wheel-box{
position:relative;
display:flex;
justify-content:center;
align-items:center;
margin:10px 0;
}

#premiumWheelImg{
width:280px;
max-width:100%;
display:block;
border-radius:50%;
transition:transform 5s cubic-bezier(.17,.67,.83,.67);
}

.premium-pointer{
position:absolute;
top:-20px;
left:46%;
transform: rotate(180deg);
width:0;
height:0;
border-left:18px solid transparent;
border-right:18px solid transparent;
border-bottom:50px solid #fff500;
z-index:5;
}

.premium-spin-btn{
display:block;
margin:20px auto;
padding:12px 28px;
font-size:14px;
font-weight:bold;
background:#ae00ff;
border:none;
border-radius:10px;
cursor:pointer;
}

.premium-spin-btn:active{
transform:scale(0.95);
}

.guide-list a {
  color: #ff3c3c;
  text-decoration: none;
}
